.header {
    display: flex;
    height: 30px;
    padding: 0 30px;
    margin-bottom: 50px;
}
.header nav {
    display: flex;
}
.header nav a {
    font-weight: 600;
    padding: 12px 10px;
    border-top: 4px solid #F49316;
    margin-right: 10px;
    color: #000000;
}
.header nav a:hover{
    color: #F49316;
    border-top: 2px solid #F49316;
}
