*{
    margin: 0;
    padding: 0;
}
html,body{
    min-width: 100%;
    min-height: 100%;
}
body{
    font-family: 'Arial',sans-serif;
    font-size: 14px;
    overflow-x: hidden;

}
a{
    text-decoration: none;
}
.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

